# clion
cmake-build-debug/
CMakeFiles/
*.cmake
CMakeCache.txt
Makefile
# Binary
Main

# cpp
*.cbp

# mac
.DS_Store


# java
.idea/
*.iml
*.class
out/

# media
*.gif

*.rgb

*.mp4
*.wav
*.avi


TestData
TestDataDay1
TestDataDay2

synopsis.jpg
synopsis.metafile

hecate-master/output

hecate/output
hecate/output_1
hecate/output_2
hecate/output_3
hecate/output_4
hecate/examples

*.zip


