# clion
cmake-build-debug/
CMakeFiles/
*.cmake
CMakeCache.txt
Makefile
# Binary
Main

# cpp
*.cbp

# mac
.DS_Store


# java
.idea/
*.iml
*.class
out/

# media
*.gif

*.rgb

*.mp4
*.wav
*.avi


ContentBrowser/TestData/
CreateSynopsis/TestData/

*.zip


